<table class="table is-4">
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Postal Code</th>
    <th>Country</th>
    <th>Province</th>
    <th>Phone</th>
  </thead>
  <tbody>
    <%= render partial: 'customer', object: @customer %>
  </tbody>
</table>