
<table class="table is-4">
  <thead>
    <th>Order Date</th>
    <th>Ship Name</th>
    <th>Ship Address</th>
    <th>Ship Date</th>
    <th>Postal Code</th>
    <th>Ship Country</th>
    <th>Customer ID</th>
  </thead>
  <tbody>
    <% @orders.each do |o| %>
      <%= render partial: 'order', object: o %>
    <% end %>
  </tbody>
</table>