<table class="title is-4">
  <thead>
    <th>Name</th>
    <th>Tax 1</th>
    <th>Tax 2</th>
  </thead>
  <tbody>
    <%= render partial: 'province', collection: @provinces %>
  </tbody>
</table>
<%= link_to 'Back', :back %>