<details>
    <summary>Shopping Cart</summary>
    <% if @cart.empty? %>
      <p>No items in cart.</p>
    <% else %>
      <ul>
        <% @cart.each do |product| %>
          <li><%= product.name %> - <%= link_to 'remove from cart', remove_from_cart_path(product), method: :delete %></li>
        <% end %>
      </ul>
    <% end %>
</details>

<%= render :partial => 'product' %>