<details>
    <summary>Shopping Cart<%= button_to 'buy cart items', checkout_create_path, params: {session_id: session.id}, remote: true %></summary>
    <% if @cart.empty? %>
      <p>No items in cart.</p>
    <% else %>
      <ul>
        <% @cart.each do |product| %>
          <li><%= product.name %> - <%= link_to 'remove from cart', remove_from_cart_path(product), method: :delete %></li>
        <% end %>
      </ul>
    <% end %>
</details>

<%= render :partial => 'product' %>